#meme-image-container {
  border: 1px solid black;
  display: inline-block;
  position: relative;
  background-color: white;
  width: 500px;
  height: 500px;
}

#meme-image {
  display: block;
}

#meme-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

#sample-images img {
  width: 100px;
}

#sample-images img:hover {
  border: 2px solid red;
}